        <h2>
           Goodbye to western canadian riding
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance:
<br>
Climbing:
<br>
Descending:
<br>
Difficulty:
<br>
<a href=>Link to workout in Strava</a>
<hr>
<p>
<img src=day28-pano-small.jpg>
<p>
Last day riding loaded, last day deep in the mountains
<p>
hike was disappointingly crowded (maybe get pic from bereal?)
<p>
mostly downhill ride into banff except last uphill bit! (pic of lori on bridge
<p>
no wildlife spotted
<p>
no milkshake available
<p>
many fewer riders on the route now that open to cars + likely rainy day.  Mountains shrouded but still majestic! (pic(s) of shrouded mountains)
<p>
    </div>
