<Layout title="Retracing my steps">
        <h1>Retracing my steps</h1>
        <h2>
           180 degree turn in Jasper (as planned)
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 56 mi
<br>
Climbing: ~4k feet
<br>
Descending: less
<br>
Difficulty: medium
<br>
<a href=>Link to workout in Strava</a>
<hr>
<p>
Feeling relaxed after a couple days off from riding in Jasper.  Well, Lori and I took a ~8mi mountain bike ride on our touring bikes but butt got some "substantial" days off.
<p>
left town on singletrack with Lori - reminiscent of Creston with Albert.  Lori found an alternate route that had much less traffic than the highway for first 20 mi or so
<p>
athabasca falls (with pictures)
<p>
raven robbed Lori at sunwapta lodge and talked with tourer from germany
<p>
rain for the last 5 miles arrived soaking but created a reasonable system to hopefully dry our stuff to another wilderness hostel without showers
<p>
