        <h2>
           Glaciers, Starbucks, and Skywalks - Oh my!
        </h2>
<h3>Ride Summary</h3>
Distance: 42 mi
<br>
Climbing: 3366 feet
<br>
Descending: more!
<br>
Difficulty: hard
<br>
<a href=>Link to workout in Strava</a>
<hr>
<img src=day26-hostel-small.jpg>
<p>
<i>view from the hostel</i>
<p>
Slow to get out of the hostel - challenges with no running water and 15 people all trying to use a kitchen simultaneously - but fortunately it was dry as was our stuff after an overnight near the heater.  Only my shirt was still a little damp (but, thanks to the rain, smelled better than it ought to have when I had to reuse it regardless) but that just made for a bracing morning.
<p>
5 miles til big climb; big climb more fun with a partner!  Shoulder not the best but no real close calls to speak of
<p>
at glaciers, had lunch, starbucks, skywalk
<p>
after that, had a lot more climbing throughout the day (1000 feet+), but it was all in smaller chunks which were more manageable.  big bomb downhill at responsible-ish pace since shoulder was small.
Shoulder paint line disappeared or was very fainy between the bottom of the hill and rampart creek, should report to banff NP crew
<p>
weeping wall
<p>
every picnic table within 100 miles of where we're staying has an epic view
<p>
cleanup, dinner, sauna, charging, sleep.
