        <h2>
        Behind the Scenery...there's just more of the same.
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 51 mi / 82 km
<br>
Climbing: 3212 feet / 979 meters
<br>
Descending: similar
<br>
Difficulty: climbs were strenuous but otherwise medium
<br>
<a href=https://www.strava.com/activities/11771018258>Link to workout in Strava</a>
<hr>
<p>
garmin kerfuffle with not having the route available and having to go back for wifi (cause: me not being prepared and having everything synced in advance)
<p>
mountain identifier was neat
<p>
quick downhill into the <a href=https://ridewithgps.com/routes/47071186?highlight=43-117>first big climb</a>, which was the most strenuous going up to 10% grade at times.  But, we rode the whole thing - almost 4mi - and in decent spirits for the level of strenuosity
<p>then ground and churned up and down (rollers!) a somewhat-uphill slope to the <a hred=https://ridewithgps.com/routes/47071186?highlight=373-453>second big climb</a> which was the same length as the first one but almost 300' more climbing.  Still, it didn't go above 6% usually so wasn't too bad
<p>
stuck on this ridge around 6000' for at least 8 miles.  It was hilarious to go under then climb back over and to just drift along right at 6k or within 15' of it for a couple miles.  Would I have to climb back to it after a (finally!) substantial descent of 80' to say goodbye to 6000?  Almost, but not quite back up before bombing into town
<p>
dessert luck, good pizza, satisfying foods
<P>
quick walk around town before returning towards slumber
<p>
done in 5mi

https://ridewithgps.com/routes/47071186?highlight=43-117
<p>
    </div>
